In [2]:
a = {}
print(type(a))

<class 'dict'>

In [3]:
# mutable
# indexed
# unordered
# deplicate members
# custom index

In [4]:
# a = {<index>:<value>,<index>:<value>,....}

In [5]:
a = {'a':'Apple','b':"Ball",'c':"Cat"}
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
print(a['b'])

Ball

In [11]:
a = {'b':"Ball",'a':'Apple','c':"Cat"}
print(a)

{'b': 'Ball', 'a': '1Apple', 'c': 'Cat'}

In [12]:
a = {'a':'Apple','b':"Ball",'c':"Cat",'A':"Apple"}
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [14]:
a = {'a':'Apple','b':"Ball",'c':"Cat",'a':"Ant"}
print(a)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [18]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a['c'] = 'Cat'
a['a'] = 'Ant'
print(a)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [21]:
a = {0.5: 'Ant', 'b': 'Ball', 'c': 'Cat'}
print(a)

{0.5: 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [ ]:
int float str

In [24]:
a = {('a',): 'Ant', 'b': 'Ball', 'c': 'Cat'}
print(a)

{('a',): 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [26]:
a = {('a',): 'Ant', 'b': 'Ball', 'c': 'Cat'}
print(a)

{('a',): 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [29]:
a = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
for i in a.values():
    print(i)

Ant
Ball
Cat

In [30]:
a = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
for i in a:
    print(i)

a
b
c

In [31]:
a = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
for i in a.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [32]:
a_list = []
a = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
for i in a.items():
    a_list.append(i)
    
print(a_list)

[('a', 'Ant'), ('b', 'Ball'), ('c', 'Cat')]

In [33]:
a = [('a', 'Ant'), ('b', 'Ball'), ('c', 'Cat')]
new_dict = {}
for i in a:
    key = i[0]
    value = i[1]
    new_dict[key] = value
    
print(new_dict)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [34]:
# create
info = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone"))
    key = name
    value = phone
    info[key] = value
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone9878776765
Enter name = Shyam
Enter phone9867665654
{'Ram': 9878776765, 'Shyam': 9867665654}

In [35]:
# read
name = input("Enter name = ")
print(info[name])

Enter name = Ram
9878776765

In [37]:
# update
name = input("Enter name = ")
new_phone = int(input("Phone no = "))
info[name] = new_phone
print(info)

Enter name = Ram
Phone no = 9800000000
{'Ram': 9800000000, 'Shyam': 9867665654}

In [38]:
a = {'Ram': 9800000000, 'Shyam': 9867665654}
del a['Ram']

In [39]:
a

{'Shyam': 9867665654}

In [41]:
a = {'Ram': 9800000000, 'Shyam': 9867665654}
a.pop('Ram')

9800000000

In [42]:
print(a)

{'Shyam': 9867665654}

In [44]:
a = {'Ram': 9800000000, 'Shyam': 9867665654}
b = a.pop('Ram')
print(b)
print(a)

9800000000
{'Shyam': 9867665654}

In [45]:
# clear() update()
a = {'Ram': 9800000000, 'Shyam': 9867665654}
a.clear()

In [46]:
a

{}

In [49]:
a ={'Ram': 9800000000, 'Shyam': 9867665654}
b = {'Hari':9878665654}
a.update(b)

In [50]:
a

{'Ram': 9800000000, 'Shyam': 9867665654, 'Hari': 9878665654}

In [53]:
a = list("Apple")
b = tuple(a)
b

('A', 'p', 'p', 'l', 'e')

In [54]:
dict(b)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [55]:
a = dict()
a

{}

In [56]:
a = {'Ram': 9800000000, 'Shyam': 9867665654, 'Hari': 9878665654}
b = a.copy()
b

{'Ram': 9800000000, 'Shyam': 9867665654, 'Hari': 9878665654}

In [57]:
data = {'name':'Ram','age':89,'add':'Kathmandu'}
def info(x):
    n = x['name']
    y = x['age']
    z = x['add']
    print(n,y,z)
info(data)

Ram 89 Kathmandu

In [1]:
# # list inside dicts
# a = {1:['Ram',53,'Kathmandu'],2:['Shyam',73,'Bara']}
# b = {'Roll':[1,2],'Name':['Ram','Shyam'],'Age':[56,78],'Address':['Kathmandu','Bara']}

In [3]:
a = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    a[i] = [name,age,add]
print(a)

Enter n = 2
Enter name = Ram
Enter age = 56
Enter address = KAthmandu
Enter name = Shyam
Enter age = 56
Enter address = Bara
{1: ['Ram', 56, 'KAthmandu'], 2: ['Shyam', 56, 'Bara']}

In [5]:
for i in a.items():
    print(i)

(1, ['Ram', 56, 'KAthmandu'])
(2, ['Shyam', 56, 'Bara'])

In [10]:
a[1][2] = 'Kathmandu'
print(a)

{1: ['Ram', 56, 'Kathmandu'], 2: ['Shyam', 56, 'Bara']}

In [14]:
a[1][2] = ['Kathmandu','Dhading']

In [15]:
a

{1: ['Ram', 56, ['Kathmandu', 'Dhading']], 2: ['Shyam', 56, 'Bara']}

In [16]:
a[1][2].append('Gorkha')

In [17]:
a

{1: ['Ram', 56, ['Kathmandu', 'Dhading', 'Gorkha']], 2: ['Shyam', 56, 'Bara']}

In [19]:
# b = {'Roll':[1,2],'Name':['Ram','Shyam'],'Age':[56,78],'Address':['Kathmandu','Bara']}
b = {}
rol = []
na = []
ag = []
add = []
n = int(input("ENtre how many rows = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    rol.append(i)
    na.append(name)
    ag.append(age)
    add.append(address)

b = {'Roll':rol,'Name':na,'Age':ag,'Address':add}
print(b)

ENtre how many rows = 2
Enter name = Ram
Enter age = 45
Enter address = Kathmandu
Enter name = Shyam
Enter age = 78
Enter address = Patan
{'Roll': [1, 2], 'Name': ['Ram', 'Shyam'], 'Age': [45, 78], 'Address': ['Kathmandu', 'Patan']}

In [4]:
b = {'Roll': [1, 2], 'Name': ['Ram', 'Shyam'], 'Age': [45, 78], 'Address': ['Kathmandu', 'Patan']}

roll = int(input("Enter roll = "))
roll = roll-1
rol = b['Roll'][roll]
name = b['Name'][roll]
age = b['Age'][roll]
add = b['Address'][roll]
print(rol,name,age,add)

Enter roll = 1
1 Ram 45 Kathmandu

In [9]:
# dicts inside dicts
c = {'Ram':{'Physics':56,'Chemistry':78,'Math':67,'English':56,'Nepali':78},
    'Shyam':{'Physics':65,'Chemistry':98,'Math':57,'English':69,'Nepali':98}}
print(c)

{'Ram': {'Physics': 56, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

In [10]:
for i in c:
    print(i)
name = input("Enter name = ")
c[name]

Ram
Shyam
Enter name = Shyam

{'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}

In [12]:
del c['Shyam']
print(c)

{'Ram': {'Physics': 56, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}}

In [14]:
c = {'Ram': {'Physics': 56, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78},
     'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

In [16]:
c['Ram']['Physics'] = 96

In [17]:
print(c)

{'Ram': {'Physics': 96, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

In [18]:
c['Ram']['Physics'] = [71,25]
print(c)

{'Ram': {'Physics': [71, 25], 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

In [19]:
x = {'Ram': {'Physics': 96, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 
     'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

x['Hari'] = {'Physics': 89, 'Chemistry': 58, 'Math': 47, 'English': 49, 'Nepali': 81}
print(x)

{'Ram': {'Physics': 96, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}, 'Hari': {'Physics': 89, 'Chemistry': 58, 'Math': 47, 'English': 49, 'Nepali': 81}}

In [20]:
# dicts inside dicts
a = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    a[i] = {'Name':name,'Age':age,'Address':add}
print(a)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter address = Patan
Enter name = Shyam
Enter age = 67
Enter address = Kathmandu
{1: {'Name': 'Ram', 'Age': 67, 'Address': 'Patan'}, 2: {'Name': 'Shyam', 'Age': 67, 'Address': 'Kathmandu'}}

In [21]:
for i in a:
    print(i)

1
2

In [22]:
a[1]

{'Name': 'Ram', 'Age': 67, 'Address': 'Patan'}

In [23]:
# dicts inside list
a = [{'Name': 'Ram', 'Age': 67, 'Address': 'Patan'},
     {'Name': 'Shyam', 'Age': 67, 'Address': 'Kathmandu'}]
a[0]

{'Name': 'Ram', 'Age': 67, 'Address': 'Patan'}

In [24]:
for i in a:
    print(i)

{'Name': 'Ram', 'Age': 67, 'Address': 'Patan'}
{'Name': 'Shyam', 'Age': 67, 'Address': 'Kathmandu'}

In [25]:
a = [{'Name': 'Ram', 'Age': 67, 'Address': 'Patan'},
     {'Name': 'Shyam', 'Age': 67, 'Address': 'Kathmandu'}]
d = {'Name':'Hari','Age':45,'Address':'Bara'}
a.append(d)
print(a)

[{'Name': 'Ram', 'Age': 67, 'Address': 'Patan'}, {'Name': 'Shyam', 'Age': 67, 'Address': 'Kathmandu'}, {'Name': 'Hari', 'Age': 45, 'Address': 'Bara'}]