In [1]:
# for loop

In [2]:
# for(i = 0; i<5; i++;)

In [3]:
# range(5)
# range(1,5)
# range(1,5,2)

In [5]:
for i in range(5):
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [6]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [9]:
for i in range(1,5,2):
    print(i,"Hello world")

1 Hello world
3 Hello world

In [10]:
def volume():
    l = int(input("Enter l = "))
    b = int(input("Enter b = "))
    h = int(input("Enter h = "))
    v = l*b*h
    print("The volume is = ",v)
for i in range(2):
    volume()

Enter l = 2
Enter b = 3
Enter h = 4
The volume is =  24
Enter l = 4
Enter b = 5
Enter h = 6
The volume is =  120

In [12]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
print("The sum is = ",s)
print("The average is = ",s/n)

Enter n = 3
Enter x = 43
Enter x = 45
Enter x = 34
The sum is =  122
The average is =  40.666666666666664

In [14]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
# 4! = 1*2*3*4
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac *i
print(fac)

Enter n = 4
24

In [17]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [19]:
a = "Python"
for i in range(5):
    print(a)

Python
Python
Python
Python
Python

In [22]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [25]:
a = "Python"
for i in a:
    print(i,end = '_')

P_y_t_h_o_n_

In [24]:
a = ('Ram',78,'Kathmandu',9898776765)
for i in a:
    print(i)

Ram
78
Kathmandu
9898776765

In [26]:
"apple"+" " + "ball"

'apple ball'

In [27]:
info = ''
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = info+name+" "+phone+"\n"
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9878998787
Enter name = Shyam
Enter phone = 9890998767
Ram 9878998787
Shyam 9890998767

In [28]:
print(info)

Ram 9878998787
Shyam 9890998767

In [1]:
# WAP to store (name physics che math eng nepali total per)
# WAP to detect prime no
# WAP to make this series 0 1 1 2 3 5 8 13

In [2]:
# # while loop
# while <condition>:
#     <operations>
#     <incementor decrement>

In [4]:
n = 0
while n<5:
    print(n,"Hello World")
    n+=1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
n = 1
while n<5:
    print(n,"Hello World")
    n+=1

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
n = 1
while n<5:
    print(n,"Hello World")
    n+=2

1 Hello World
3 Hello World

In [2]:
s = 0
n = int(input("Enter n = "))
m = n
while n>0:
    x = int(input("Enter x = "))
    s = s+x
    n = n-1
print("The sum is = ",s)
print("The average is = ",s/m)

Enter n = 5
Enter x = 32
Enter x = 53
Enter x = 23
Enter x = 35
Enter x = 24
The sum is =  167
The average is =  33.4

In [4]:
n = int(input("Enter n = "))
i = 1
while i<=10: 
    print(n,"*",i,"=",i*n)
    i +=1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [8]:
# 4! = 1*2*3*4
fac = 1
n = int(input("Enter n = "))
while n>=1:
    fac = fac *n
    
    n = n-1
print(fac)

Enter n = 5
120

In [10]:
info = ''
n = int(input("Enter n = "))
while n>=1:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = info+name+" "+phone+"\n"
    n = n-1
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9878776765
Enter name = Shyam
Enter phone = 9878887676
Ram 9878776765
Shyam 9878887676

In [25]:
a ="python"
n = len(a)
n = n-1

In [20]:
while n>=0:
    print(a[n])
    n = n-1

n
o
h
t
y
p

In [26]:
i =0
while i<=n:
    print(a[i])
    i = i+1

p
y
t
h
o
n

In [1]:
a = ('Ram',78,'Kathmandu',9898776765)
n = len(a)
i = 0
while i<n:
    print(a[i])
    i = i+1

Ram
78
Kathmandu
9898776765

In [1]:
# break
a = "Hello I am Python"
for i in a:
    if i == 'm':
        break
    print(i)

H
e
l
l
o

I

a

In [2]:
# break
a = ('Apple','Ball','Cat','Dog')
for i in a:
    if i == 'Cat':
        break
    print(i)

Apple
Ball

In [10]:
# continue
# break
a = ('Apple','Ball','Cat','Dog','Cat','Dog','Cat')
for i in a:
    if (i == 'Cat') | (i == 'Dog'):
        continue
    print(i)

Apple
Ball

In [9]:
# continue
a = "Hello I am Python"
for i in a:
    if (i == 'm') | (i == ' '):
        continue
    print(i,end = ' ')

H e l l o I a P y t h o n

In [15]:
def hello():
    pass

hello()

In [16]:
# pass
a = "Hello I am Python"
for i in a:
    if (i == 'm') | (i == ' '):
        pass
    print(i,end = ' ')

H e l l o   I   a m   P y t h o n

In [1]:
# break
a = "Hello I am Python"
n = len(a)
i = 0
while i<n:
    if (a[i] == 'm'):
        break
    print(a[i],end = ' ')
    i = i+1

H e l l o   I   a

In [1]:
# continue
a = "Hello I am Python"
n = len(a)
i = 0
while i<n:
    if (a[i] == 'm'):
        i = i+1
        continue
    print(a[i],end = ' ')
    i = i+1

H e l l o   I   a   P y t h o n