In [1]:
a = ('Apple','Apple')
print(a)
print(type(a))

('Apple', 'Apple')
<class 'tuple'>

In [2]:
a[0]

'Apple'

In [3]:
a[0:2]

('Apple', 'Apple')

In [5]:
a = ('apple',)
type(a)

tuple

In [9]:
a = ('Apple','Ball')
b = ('Cat',)
print(a+b)

('Apple', 'Ball', 'Cat')

In [10]:
a.append(b)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+(name,)
    
print(a)

Enter n = 3
Enter name = Apple
Enter name = Ball
Enter name = Cat
('Apple', 'Ball', 'Cat')

In [18]:
a = (23,45,0,1,76,3,46)
print(min(a))
print(max(a))
print(sum(a))

0
76
194

In [ ]:
# sort() sorted()

In [19]:
sorted(a)

[0, 1, 3, 23, 45, 46, 76]

In [20]:
print(a)

(23, 45, 0, 1, 76, 3, 46)

In [21]:
a = ("Ball","Cat","Apple")
sorted(a)

['Apple', 'Ball', 'Cat']

In [23]:
a = ("Ram","Shyam","Hari","Gita")
if "Ram" in a:
    print("Yes",a.count("Ram"))

Yes 1

In [24]:
for i in a:
    print(i)

Ram
Shyam
Hari
Gita

In [25]:
# tuple as an argument
data = ('Ram',89,'Kathmandu')
def info(x):
    n,y,z = x
    print(n,y,z)
    
info(data)

Ram 89 Kathmandu

In [26]:
a = ("Ram","Shyam","Hari","Gita")
a.index('Ram')

0

In [27]:
a = ("Ram","Shyam","Hari","Gita")
b = list(a)
print(b)

['Ram', 'Shyam', 'Hari', 'Gita']

In [28]:
a = ["Ram","Shyam","Hari","Gita"]
b = tuple(a)
print(b)

('Ram', 'Shyam', 'Hari', 'Gita')

In [29]:
list("Hello World")

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [32]:
a = ("Ram","Shyam","Hari","Gita")
b = list(a)
b.remove('Ram')
a=tuple(b)
print(a)

('Shyam', 'Hari', 'Gita')

In [34]:
# insert
a = ['Ram', 'Shyam', 'Hari', 'Gita']
a.insert(0,"Ram Prasad")
print(a)

['Ram Prasad', 'Ram', 'Shyam', 'Hari', 'Gita']

In [36]:
# tuple inside tuple
a = ((),(),(),())
print(type(a))
print(len(a))

<class 'tuple'>
4

In [39]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
a+b

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [41]:
infos = ()
n = int(input("Enter row no ="))
for i in range(n):
    name = input("Enter name =")
    phone = input("Enter phone = ")
    
    info = (name,phone)
    infos = infos + (info,)
    
print(infos)

Enter row no =1
Enter name =Ram
Enter phone = 99798
(('Ram', '99798'),)

In [42]:
# convert tuple inside tuple to list inside list
a = ((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))
list(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [44]:
a = ((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))
b = list(a)
b.append((13,14,15),)
print(b)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12), (13, 14, 15)]

In [50]:
new_list = []
a = ((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))
b = list(a)
for i in b:
    j = list(i)
    new_list.append(j)
    
    print(new_list)

[[1, 2, 3]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [51]:
new_tuple = ()
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]] 
for i in b:
    j = tuple(i)
    new_tuple = new_tuple+(j,)
    
    print(new_tuple)

((1, 2, 3),)
((1, 2, 3), (4, 5, 6))
((1, 2, 3), (4, 5, 6), (7, 8, 9))
((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))