In [1]:
# list
# []

In [2]:
a = [1,2,3,4,5]
b = ['Apple','Ball']
print(a)

[1, 2, 3, 4, 5]

In [3]:
type(a)

list

In [4]:
# mutable datatype
# duplicate members 
# elements are indexed
# ordered

In [5]:
a = [1,22,3,5,44,22,44]
print(a)

[1, 22, 3, 5, 44, 22, 44]

In [7]:
a[1]

22

In [9]:
b = ['Apple','Ball']
b[-1]

'Ball'

In [10]:
a = [1,22,3,5,44,22,44]
print(a[0:5])

[1, 22, 3, 5, 44]

In [12]:
a = [1,22,3,5,44,22,44]
print(a[1:])

[22, 3, 5, 44, 22, 44]

In [14]:
a = [1,22,3,5,44,22,44]
print(a[::2])

[1, 3, 44, 44]

In [16]:
a = [1,2,3,4]
b = [5,6,7,8]
b+a

[5, 6, 7, 8, 1, 2, 3, 4]

In [18]:
a = []
b = [1]
a= a+b
a

[1]

In [19]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data = data + [x]
    
print(data)

Enter n = 3
Enter x = 1
Enter x = 2
Enter x = 3
[1, 2, 3]

In [21]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data.append(x)
    
print(data)

Enter n = 5
Enter x = 12
Enter x = 23
Enter x = 54
Enter x = 123
Enter x = 45
[12, 23, 54, 123, 45]

In [22]:
total = sum(data)
total

257

In [23]:
max_val = max(data)
min_val = min(data)
print(max_val,min_val)

123 12

In [24]:
data.sort()

In [25]:
data

[12, 23, 45, 54, 123]

In [26]:
data.reverse()

In [28]:
data

[123, 54, 45, 23, 12]

In [29]:
a = ['zebra','monkey','Xray','Apple']
a.sort()

In [30]:
a

['Apple', 'Xray', 'monkey', 'zebra']

In [31]:
for i in a:
    print(i)

Apple
Xray
monkey
zebra

In [32]:
for i in range(len(a)):
    print(a[i])

Apple
Xray
monkey
zebra

In [33]:
# list as an argument
data = ['Ram',89,'Kathmandu']
def info(x):
    n,y,z = x
    print(n,y,z)
info(data)

Ram 89 Kathmandu

In [34]:
# list as an argument
data = ['Ram',89,'Kathmandu']
def info(x):
    name = x[0]
    age = x[1]
    add = x[2]
    print(name,age,add)
info(data)

Ram 89 Kathmandu

In [35]:
# Creating a list
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data.append(x)
    
print(data)

Enter n = 10
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9
Enter x = 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
for i in data:
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [39]:
data[9] = 0
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [41]:
data.index(0)

9

In [43]:
data = ['Apple','Ball','Cat','dog']
i = data.index('dog')
data[i] = 'Dog'
print(data)

['Apple', 'Ball', 'Cat', 'Dog']

In [44]:
# del remove() pop()

In [45]:
data = ['Apple','Ball','Cat','dog']
i = data.index('dog')
del data[i]
print(data)

['Apple', 'Ball', 'Cat']

In [46]:
data = ['Apple','Ball','Cat','dog','Fish']
del data[0:3]
print(data)

['dog', 'Fish']

In [47]:
data = ['Apple','Ball','Cat','dog','Fish']
data.remove('Fish')
data

['Apple', 'Ball', 'Cat', 'dog']

In [50]:
data = ['Apple','Ball','Cat','dog','Fish','Apple','Apple']
data.remove('Apple')
data.remove('Apple')

data

['Ball', 'Cat', 'dog', 'Fish', 'Apple']

In [2]:
data = ['Apple','Ball','Cat','Apple','dog','Fish','Apple']
for i in data:
    if i == 'Apple':
        data.remove('Apple')
        
        print(data)

['Ball', 'Cat', 'Apple', 'dog', 'Fish', 'Apple']
['Ball', 'Cat', 'dog', 'Fish', 'Apple']
['Ball', 'Cat', 'dog', 'Fish']

In [13]:
data = ['Apple','Ball','Cat','dog','Fish','Apple','Apple']
counts = data.count('Apple')
print(counts)
for i in range(counts-1):
    data.remove('Apple')
        
    print(data)

3
['Ball', 'Cat', 'dog', 'Fish', 'Apple', 'Apple']
['Ball', 'Cat', 'dog', 'Fish', 'Apple']

In [11]:
indexes = []
data = ['Apple','Ball','Cat','dog','Fish','Apple','Apple']
for i in range(len(data)):
    if data[i] == 'Apple':
        x = i
        indexes.append(x)
        
print(indexes)

[0, 5, 6]

In [1]:
# list inside list
a = [[],[],[],[],[]]
print(a)
print(type(a))

[[], [], [], [], []]
<class 'list'>

In [4]:
a=[[1,2,3],[4,5,6],[7,8,9]]
a[1]

[4, 5, 6]

In [5]:
a=[[1,2,3],[4,5,6],[7,8,9]]
a[0:2]

[[1, 2, 3], [4, 5, 6]]

In [7]:
a[0][0]

1

In [11]:
a =[[1,2,3],[4,5,6]]
b = [[7,8,9]]
print(a+b)
print(len(a+b))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [13]:
a =[[1,2,3],[4,5,6]]
b = [7,8,9]
print(a+b)
print(len(a+b))

[[1, 2, 3], [4, 5, 6], 7, 8, 9]
5

In [14]:
infos = []
n = int(input("Enter row no ="))
for i in range(n):
    name = input("Enter name =")
    phone = input("Enter phone = ")
    info = [name,phone]
    infos.append(info)
    
print(infos)

Enter row no =2
Enter name =Ram
Enter phone = 9878776765
Enter name =Shyam
Enter phone = 9899776655
[['Ram', '9878776765'], ['Shyam', '9899776655']]

In [25]:
infos = [['Ram', '9878776765'], ['Shyam', '9899776655']]

In [15]:
for i in infos:
    print(i)

['Ram', '9878776765']
['Shyam', '9899776655']

In [16]:
infos[0]

['Ram', '9878776765']

In [17]:
infos[0] = ['Ram Prasad','9800000000']
print(infos)

[['Ram Prasad', '9800000000'], ['Shyam', '9899776655']]

In [23]:
infos[0][1] = 9841223344
print(infos)

[['Ram', 9841223344], ['Shyam', '9899776655']]

In [24]:
del infos[0]
print(infos)

[['Shyam', '9899776655']]

In [26]:
del infos[0][0]
print(infos)

[['9878776765'], ['Shyam', '9899776655']]

In [29]:
infos = [['Ram', 9841223344], ['Shyam', '9899776655']]
infos[0].remove('Ram')

In [32]:
infos = [['Ram', 9841223344], ['Shyam', '9899776655']]
infos[0].index('Ram')

0

In [38]:
infos = [['Ram', 9841223344], ['Shyam', '9899776655']]
for i in infos:
    if 'Ram' in i:
        print("Yes")

Yes

In [39]:
infos = [['Ram', 9841223344], ['Shyam', '9899776655']]
for i in infos:
    if 'Ram' in i:
        print("Yes")
        print(i)

Yes
['Ram', 9841223344]

In [42]:
infos = [['Ram', 9841223344], ['Shyam', 9899776655]]
x = int(input("Enter any data for search = "))
for i in infos:
    if x in i:
        print("Yes")
        print(i)

Enter any data for search = 9841223344
Yes
['Ram', 9841223344]

In [46]:
infos = [['Ram', 9841223344], ['Shyam', 9899776655]]

for i in range(len(infos)):
    infos[i][0] = infos[i][0].lower()

print(infos)

[['ram', 9841223344], ['shyam', 9899776655]]

In [47]:
# infos = [['Ram', 9841223344], ['Shyam', 9899776655]]
x = input("Enter any data for search = ").lower()
for i in infos:
    if x in i:
        print("Yes")
        print(i)
    else:
        print("No")

Enter any data for search = Ram
Yes
['ram', 9841223344]
No

In [51]:
infos = [['Ram', 9841223344], ['Shyam', 9899776655],['Ram',9867665654]]
x = input("Enter any data for search = ").lower()
for i in range(len(infos)):
    if x in infos[i][0].lower():
        print(i,"Yes")
        print(infos[i])

Enter any data for search = ram
0 Yes
['Ram', 9841223344]
2 Yes
['Ram', 9867665654]

In [55]:
infos = [['Ram', 9841223344], ['Shyam', 9899776655],[9867665654,'Ram']]
x = input("Enter any data for search = ")
for i in range(len(infos)):
    if x in infos[i]:
        print(i,infos[i].index(x))

Enter any data for search = Ram
0 0
2 1

In [56]:
infos = ''
for i in range(2):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = int(input("Enter phone = "))

    info = f"{name} {age} {add} {phone}\n"
    infos = infos+info
    
print(infos)

Enter name = Ram
Enter age = 56
Enter address = Kathmandu
Enter phone = 9876778987
Enter name = Shyam
Enter age = 67
Enter address = Baluwatar
Enter phone = 9878887678
Ram 56 Kathmandu 9876778987
Shyam 67 Baluwatar 9878887678

In [57]:
print(infos)

Ram 56 Kathmandu 9876778987
Shyam 67 Baluwatar 9878887678

In [64]:
new_data = infos.split('\n')
new_data = new_data[0:-1]
new_data

['Ram 56 Kathmandu 9876778987', 'Shyam 67 Baluwatar 9878887678']

In [70]:
output = []
for i in new_data:
    split_data = i.split()
    output.append(split_data)

In [71]:
output

[['Ram', '56', 'Kathmandu', '9876778987'],
 ['Shyam', '67', 'Baluwatar', '9878887678']]