In [1]:
a = "Hello world"
print(a)

Hello world

In [2]:
type(a)

str

In [3]:
a = input("Enter name = ")
print(a)

Enter name = Ram
Ram

In [5]:
a = "Hello I am python"
a[6]

'I'

In [7]:
len(a)

17

In [9]:
a[0:5]

'Hello'

In [10]:
# + *

In [11]:
a = input("Enter a = ")
b = input("Enter b = ")
a+b

Enter a = 10
Enter b = 11

'1011'

In [16]:
a = "Ram"
b = 70
a+str(b)

'Ram70'

In [15]:
# string formatting

In [17]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
phone = int(input("Enter phone = "))


info = f"Hello I am {name}. I am {age}. I am from {add}. My phone no is {phone}"
print(info)

Enter name = Ram
Enter age = 78
Enter address = Kathmandu
Enter phone = 9878776765
Hello I am Ram. I am 78. I am from Kathmandu. My phone no is 9878776765

In [18]:
infos = ''
for i in range(2):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = int(input("Enter phone = "))

    info = f"{name} {age} {add} {phone}\n"
    infos = infos+info
    
print(infos)

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter phone = 9876776545
Enter name = Shyam
Enter age = 56
Enter address = bara
Enter phone = 9845443443
Ram 34 Kathmandu 9876776545
Shyam 56 bara 9845443443

In [38]:
infos.split('\n')

['Ram  ']

In [23]:
# search
if 'Ram' in infos:
    print("Yes")

Yes

In [24]:
infos.count('Ram')

1

In [25]:
# search and count
if 'Ram' in infos:
    print("Yes",infos.count('Ram'))

Yes 1

In [26]:
name = input("Enter name = ")
if name in infos:
    print("Yes",infos.count(name))

Enter name = Ram
Yes 1

In [27]:
data = infos.split('\n')
for i in data:
    print(i)

Ram 34 Kathmandu 9876776545
Shyam 56 bara 9845443443

In [28]:
# replace()

In [30]:
print(infos.replace('Ram','Hari'))

Hari 34 Kathmandu 9876776545
Shyam 56 bara 9845443443

In [33]:
infos = "Ram  "
infos.split('  ')[0]

'Ram'

In [35]:
name = input("Enter name")
x = name.replace(' ','')
print(x)

Enter name  Ram
Ram

In [36]:
len(x)

3

In [37]:
x = "Hari 34 Kathmandu 9876776545"
y = x.replace('9876776545','')
print(y)

Hari 34 Kathmandu

In [39]:
a = "Ram 34 Kathmandu 9876776545,Ram 43 Bara 9876776548"
a.replace('Ram 34','Shyam 34')

'Shyam 34 Kathmandu 9876776545,Ram 43 Bara 9876776548'

In [41]:
name = "Shyam"
print(name.upper())
print(name.lower())

SHYAM
shyam

In [43]:
infos = 'Shyam 34 Kathmandu 9876776545,Ram 43 Bara 9876776548'.lower()
name = input("Enter name = ").lower()

if name in infos:
    print("Yes",infos.count(name))

Enter name = ShYaM
Yes 1

In [ ]:
infos = ''
for i in range(2):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = int(input("Enter phone = "))

    info = f"{name} {age} {add} {phone}\n"
    infos = infos+info
    
print(infos)

In [ ]:
# search 
name = input("Enter name = ").lower()

if name in infos:
    print("Yes",infos.count(name))

In [ ]:
# replace
search = input("Enter what to replace = ")
replace_data = input("Enter by what to replace = ")
infos.replace(search,replace_data)